@media (max-width: 481px) {
  .modal_contents_container {
    width: 100%;
    max-height: 100vh;
    border-radius: 0px;
  }

  .scrollable_content {
    height: 100vh;
  }
}

@media (max-width: 374px) {
  header,
  .merchant_amount_container,
  .card_info_form,
  .code_form,
  .success_card_container,
  footer {
    padding-inline: 12px;
  }

  .amount,
  .amount_currency_symbol {
    font-size: 20px;
  }

  .close_icon {
    right: 12px;
  }
}
