@import url(./variables.css);

button:hover {
  cursor: pointer;
}

/* modal */
.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_contents_container {
  background-color: #fff;
  width: 580px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

/* modal header */
header {
  padding: 32px 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border);
  position: relative;
}

.more_info_wrapper {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.more_info_txt {
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 16px;
}

.close_icon {
  position: absolute;
  top: 15px;
  right: 19px;
}

/* merchant price variables */
.merchant_price_container {
  padding: 8px 82px 16px 82px;
  display: flex;
  justify-content: space-between;
}

.merchant_wrapper {
  display: flex;
  column-gap: 16px;
  align-items: flex-start;
}
.merchant_info_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.merchant_name {
  font-family: var(--font-bold);
  font-size: 24px;
  line-height: 24px;
}

.merchant_name {
  font-family: var(--font-bold);
  font-size: 24px;
  line-height: 24px;
}

.merchant_payment_status,
.merchant_location {
  font-family: var(--font-light);
  font-size: 16px;
  color: rgba(26, 29, 31, 0.7);
}

.price_iban_container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.price_wrapper,
.iban_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.iban_wrapper {
  display: none;
}
.price_title,
.iban_title {
  font-family: var(--font-regular);
  font-size: 14px;
  color: rgba(26, 29, 31, 0.7);
}

.price,
.iban {
  font-family: var(--font-regular);
  color: rgba(26, 29, 31, 1);
  font-size: 24px;
  line-height: 20px;
}
.iban {
  font-size: 16px;
  line-height: 24px;
}

/* card info */
.card_info_form {
  padding: 16px 82px 0px 82px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.card_info_form > h3 {
  font-family: var(--font-light);
  font-size: 16px;
  line-height: 28px;
}

.card_info_input_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 11px 16px 13px 16px;
  background-color: rgba(25, 29, 31, 0.04);
  border-radius: 6px;
}

.card_info_input {
  border: none;
  background-color: transparent;
  outline: none;
}

.card_info_input.invalid {
  border: 1px solid var(--border-color-invalid);
}

.card_info_label {
  font-family: var(--font-light);
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 3px;
  color: rgba(25, 29, 31, 0.32);
}

.card_info_date_cvv_wrapper {
  width: 100%;
  display: flex;
  column-gap: 16px;
  padding-bottom: 16px;
}

.card_info_input_wrapper.date_cvv {
  width: 50%;
}

.form_btn,
.cancel_btn,
.receipt_btn {
  width: 100%;
  background-color: var(--btn-background);
  border: none;
  padding-block: 20px;
  font-size: 14px;
  color: #fff;
  font-family: var(--font-bold);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.form_btn:hover {
  background-color: var(--btn-background-hover);
}

/* footer */
footer {
  padding: 17px 90px 32px 90px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  border-top: var(--border);
}

.footer_copy_wrapper {
  display: flex;
  align-items: flex-end;
}

.footer_copy_wrapper > img {
  width: 20px;
  height: 20px;
}

.footer_copy_wrapper > p {
  font-family: var(--font-regular);
  font-size: 14px;
}

/* second step */

.code_form {
  display: none;

  flex-direction: column;
  padding-inline: 82px;
  padding-bottom: 16px;
  align-items: center;
}

.code_form_label {
  width: 100%;
  font-family: var(--font-bold);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
}

.code_form_input {
  width: 100%;
  padding: 22px 16px;
  border: none;
  background-color: rgba(25, 29, 31, 0.04);
  border-radius: 6px;
  font-family: var(--font-light);
  outline: none;
}

.code_form_input::placeholder {
  font-size: 12px;
  color: rgba(25, 29, 31, 0.32);
}

.refresh_wrapper {
  color: var(--btn-background);
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding-block: 16px 32px;
  cursor: pointer;
}

.refresh_wrapper > span {
  font-family: var(--font-light);
  font-size: 14px;
}

.refresh_icon {
  width: 16px;
  height: 16px;
  filter: var(--filter);
  margin-bottom: 1px;
}

.cancel_btn {
  background-color: transparent;
  font-family: var(--font-light);
  color: var(--btn-background);
  margin-top: 8px;
}

.cancel_btn:hover {
  background-color: var(--sec-btn-background);
}

/* third step */

.success_card_container {
  display: none;
  padding: 40px 82px 16px 82px;
  flex-direction: column;
  row-gap: 40px;
}

.success_icon_wrapper {
  width: 100%;
  text-align: center;
}

.success_title {
  margin-top: 16px;
  font-family: var(--font-light);
  font-size: 16px;
}

.receipt_btn {
  margin-top: 16px;
  background-color: var(--sec-btn-background);
  color: var(--sec-btn-color);
}
