@import url(./variables.css);

button:hover {
  cursor: pointer;
}

button.invalid {
  opacity: 0.45;
}

.card_info_input_wrapper.validation_error {
  border: 1px solid var(--border-color-invalid);
}

/* modal */
.modal {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_contents_container {
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  max-height: 95vh;
  overscroll-behavior-y: contain;
}

.scrollable_content {
  scrollbar-gutter: stable;
  padding-block: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* scrollbar */

.scrollable_content::-webkit-scrollbar {
  width: 5px;
}

.scrollable_content::-webkit-scrollbar-thumb {
  cursor: pointer;
  transition: 0.4s;
  background-color: var(--txt-color-ultra-light);
  border-radius: 4px;
  border-right: 1px solid #fff;
}
.scrollable_content::-webkit-scrollbar-track {
  background-color: transparent;
}

/* modal header */
header {
  padding: 32px 82px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  border-bottom: var(--border);
  position: relative;
}

.close_icon {
  position: absolute;
  top: 20px;
  right: 24px;
}

/* merchant amount variables */
.merchant_amount_container {
  padding: 8px 82px 16px 82px;
  display: flex;
  justify-content: space-between;
  row-gap: 16px;
  flex-wrap: wrap;
}

.merchant_wrapper {
  display: flex;
  column-gap: 16px;
  align-items: flex-start;
}

.merchant_img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: transparent;
  border: var(--border);
}

.merchant_img {
  width: 43px;
  height: 43px;
}

.merchant_info_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.merchant_name {
  text-transform: lowercase;
  color: var(--txt-color);
  font-family: var(--font-bold);
  font-size: 24px;
  line-height: 24px;
  width: 146px;
}

.merchant_payment_status,
.merchant_location {
  font-family: var(--font-light);
  font-size: 16px;
  color: var(--txt-color-light);
}

.merchant_location_city {
  text-transform: capitalize;
}

.amount_pan_container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.amount_wrapper,
.pan_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.pan_wrapper {
  display: none;
}
.amount_title,
.pan_title {
  font-family: var(--font-regular);
  font-size: 14px;
  color: var(--txt-color-light);
}

.amount,
.pan,
.amount_currency_symbol {
  font-family: var(--font-regular);
  color: var(--txt-color);
  font-size: 24px;
  line-height: 20px;
}

.amount_currency_symbol {
  padding-left: 2px;
}
.pan {
  font-size: 16px;
  line-height: 24px;
}

/* card info */
.card_info_form {
  padding: 16px 82px 0px 82px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.card_info_form > h3 {
  font-family: var(--font-light-caps);
  font-size: 16px;
  line-height: 28px;
}

.card_info_input_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 11px 16px 13px 16px;
  background-color: rgba(25, 29, 31, 0.04);
  border-radius: 6px;
  border: 1px solid transparent;
  position: relative;
}

.card_info_input {
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--txt-color);
  font-family: var(--font-light);
}

.pan_icon {
  width: 34px;
  height: 11.04px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}
.card_info_input.invalid {
  border: 1px solid var(--border-color-invalid);
}

.card_info_label {
  font-family: var(--font-light);
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 3px;
  color: var(--txt-color-ultra-light);
}

.card_info_date_cvv_wrapper {
  width: 100%;
  display: flex;
  column-gap: 16px;
  padding-bottom: 16px;
}

.card_info_input_wrapper.date_cvv {
  width: 50%;
}

.form_btn,
.cancel_btn,
.receipt_btn {
  width: 100%;
  letter-spacing: 0.5px;
  background-color: var(--btn-background);
  border: none;
  padding-block: 20px;
  font-size: 14px;
  color: #fff;
  font-family: var(--font-bold-caps);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.form_btn:hover {
  background-color: var(--btn-background-hover);
}

/* footer */
footer {
  padding: 17px 90px 32px 90px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  border-top: var(--border);
}

.footer_imgs_wrapper {
  display: flex;
  width: 100%;
}

.footer_img_wrapper {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_img_wrapper > img {
  object-fit: cover;
}

.footer_copy_wrapper > img {
  width: 20px;
  height: 20px;
}

.footer_copy_wrapper {
  display: flex;
  align-items: flex-end;
}

.footer_copy_wrapper > p {
  font-family: var(--font-regular);
  font-size: 14px;
}

/* second step */

.code_form {
  display: none;
  flex-direction: column;
  padding-inline: 82px;
  padding-bottom: 16px;
  align-items: center;
}

.code_form_label {
  width: 100%;
  font-family: var(--font-bold);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
}

.code_form_input {
  width: 100%;
  padding: 22px 16px;
  border: none;
  background-color: rgba(25, 29, 31, 0.04);
  border-radius: 6px;
  font-family: var(--font-light);
  outline: none;
}

.code_form_input::placeholder {
  font-size: 12px;
  color: rgba(25, 29, 31, 0.32);
}

.refresh_wrapper {
  color: var(--btn-background);
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding-block: 16px 32px;
  cursor: pointer;
}

.refresh_wrapper > span {
  font-family: var(--font-light);
  font-size: 14px;
}

.refresh_icon {
  width: 16px;
  height: 16px;
  filter: var(--filter);
  margin-bottom: 1px;
}

.cancel_btn {
  background-color: transparent;
  font-family: var(--font-light-caps);
  color: var(--btn-background);
  margin-top: 8px;
}

/* third step */

.success_card_container {
  display: none;
  padding: 16px 82px;
  flex-direction: column;
  row-gap: 40px;
}

.success_icon_wrapper {
  width: 100%;
  text-align: center;
}

.success_title {
  margin-top: 16px;
  font-family: var(--font-light);
  font-size: 16px;
}

.receipt_btn {
  margin-top: 16px;
  background-color: var(--sec-btn-background);
  color: var(--sec-btn-color);
}

.transaction_info_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.transaction_info > h3 {
  font-family: var(--font-bold-caps);
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 8px;
}

.transaction_info > ul {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.transaction_info_list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.transaction_info_list_item > span:first-child {
  font-family: var(--font-light);
  color: rgba(26, 29, 31, 0.7);
}

.transaction_info_list_item > span:nth-child(2) {
  font-family: var(--font-bold);
  color: rgba(26, 29, 31, 1);
  text-align: end;
}

.transaction_info_list_item_amount {
  font-size: 24px;
}
